html body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', "Doto",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

body{
    transition: background-color 0.5s ease, color 0.5s ease;
}
.background {
    background-image: url('../assets/copia-coding-by-the-sea-day.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
 
}

.content {
    margin-top: 8%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0);
}

section {
    padding: 2rem 8%;
    max-width: 80%;
    height: 65vh;
    margin: 5% auto 35vh auto; 
    background-color: rgba(180, 200, 250, 0.9);
    align-items: center;
    border-radius: 15px;
}

header{
    padding-left: 2%;
    padding-top: 0.2%;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(180, 200, 250, 0.9);
    color: white;
    position: fixed;
    height: 8%;
    width: 100%;
}

nav {
    width: 50%;
    height: 100%;
    position: relative;
    bottom: 0;
}

nav button {
    font-size: 18px;
    margin: 0 1px;
    padding:  3% 5%;
    padding-bottom: 0;
    background-color: rgb(124, 160, 236);
    color: black;
    border: none;
    cursor: pointer;
    height: 100%;
    letter-spacing: 1.5px;
    border-bottom: 3px solid #000;
}
button:hover {
    transition: all 1.35s;
    background: #1e40af;
    border-bottom: 3px solid #00FF00;
    color: #00FF00;
}

/* Inicio modo escuro */

#dark-mode-toggle {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white; 
}
.dark-mode {
    background: black;
    color: white;
}

.background.dark-mode-background {
    background-image: url('../assets/copia-coding-by-the-sea-night.jpeg'); 
}

.dark-mode header {
    background: rgba(120, 160, 210, 0.9);
    color: white;
}

.dark-mode section {
    background: rgba(120, 160, 210, 0.9);
    color: white;
}

.dark-mode button:hover {
    transition: all 1.35s;
    background: #1e40af;
    border-bottom: 3px solid #00FF00;
    color: #00FF00;
}

.dark-mode .nav button {
    background-color: rgb(13, 47, 121);
    color: white;
    border-bottom: 3px solid #fff;
}
.dark-mode #dark-mode-toggle {
    background-color: rgb(189, 189, 189);
    color: black;
}

/* Fim modo escuro */

/* Inicio sessão deslizante */

/* .secao-deslizante {
    transform: translateX(-10%);
    transition: transform 0.5s ease-in-out;
}

.secao-deslizante.oculta {
    transform: translateX(100%) translateX(-50%); 
}*/

/* Fim sessão deslizante */

.section-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

.picperf{
    margin-top: 15%;
    width: 250px;
    height: 250px;
}

.boxshadow{
    border: 2px solid #7B68EE;
    padding: 5px;
    margin-right: 50px;
    border-Radius: 15%;
    box-Shadow: 0 0 10px #1e40af, 0 0 20px #1e40af, 0 0 30px #1e40af, 0 0 40px #1e40af, 0 0 50px #1e40af;
}

/*Inicio carousel*/

.carousel-container {
    overflow: hidden; 
    position: relative; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-slide {
    display: flex;
    height: 80%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 1%;
    flex-shrink: 0; /* Impede que os slides encolham */
} 

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.prev-button, .next-button {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    height: 100%;
    width: 100%;
}

.div-prev-button, .div-next-button{
    width: 5%;
    text-align: center;
    height: 100%;
}



.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 5px;
    cursor: pointer;
    color: #fff;
}

.indicator.active {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Fim carousel */

footer{
    text-align: center;
    background-color: rgba(180, 200, 250, 0.9);
    color: black;
    padding: 1rem;
    margin-top: 2rem;
}

