/* App.css */
html, body{
    height: 100%;
}
body {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "ROND" 0;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-color: #280055;
    display: flex;
    flex-direction: column;
}
h2, h3{
    font-weight: 900;
}

header, footer {
    background-size: cover;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    text-align: center;
    color: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.picperf{
    width: 50px;
    height: 50px;
    border: 2px solid #7B68EE;
    border-Radius: 35%;
    box-Shadow: 0 0 10px #4B0082, 0 0 20px #4B0082, 0 0 30px #4B0082, 0 0 40px #4B0082, 0 0 50px #4B0082;
}
.navbtt{
    color: white;
    background-color: #4B0082;
    margin: 0 5px 0 5px;
    width: 100px;
    border-radius: 10%;
    border: 1px solid grey;
    box-Shadow: 0 0 5px #4B0082, 0 0 10px #4B0082, 0 0 15px #4B0082, 0 0 20px #4B0082, 0 0 25px #4B0082;
}

.about, .skills, .contact, .projects{
    text-align: center;
    display: none;
}

.art-txt1, .art-txt2, .art-txt3, .art-skl1, .art-skl2{
    width: 33%;
    text-align: left;
    padding-left: 20px;
    margin: 0 5px 0 5px;
    border: 1px solid grey;
    box-Shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
    margin-bottom: 10px;
}
.art-txt1, .art-skl1{
    
    border-top-left-radius: 10%;
}
.art-txt3, .art-skl2{
    border-bottom-right-radius: 10%;
}
.art-skl1, .art-skl2{
    width: 50%;
}

section {
    padding: 20px;
    margin: 30px 20px 30px 20px;
    background-color: white;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 2px solid #7B68EE;
    box-Shadow: 0 0 5px #4B0082, 0 0 10px #4B0082, 0 0 15px #4B0082, 0 0 20px #4B0082, 0 0 25px #4B0082;
    background-color: black;
    color:white;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
    header, footer {
        padding: 15px;
    }
    .picperf{
        width: 50px;
        height: 50px;
        border: 2px solid #7B68EE;
        padding: 5px;
        border-Radius: 35%;
        box-Shadow: 0 0 10px #4B0082, 0 0 20px #4B0082, 0 0 30px #4B0082, 0 0 40px #4B0082, 0 0 50px #4B0082;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
